* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* regole header */
header {
    width: 100%;
    position: fixed;
    background-color: white;
    padding: 30px 0;
    /* debug */
    height: 80px;
}

/* regole header sinistra */

nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.navigation-header {
    display: flex;
    align-items: stretch;
    width: 50%;
    height: 100%;
    /* debug */
    /* height: 100px;
    background-color: blueviolet;
    border: 2px dashed black; */
}

/* hover header */

.navigation-header a:hover {
    border-bottom: 2px solid black;
}

/* regole header parte sinistra */


.left-side a {
    text-decoration: none;
    color: black;
    margin-left: 40px;
    height: 100%;
}

.left-side img {
    margin-left: 20px;
}

/* regole header parte destra */
.right-side {
    justify-content: flex-end;

}

.right-side a {
    text-decoration: none;
    color: black;
    margin-right: 40px;
}

.right-side .sign-in {
    margin-right: 20px;
}

/* regole bottoni */
.blue {
    background-color: #0061fe;
    color: white;
    border: none;
}

.sign-in {
    padding: 5px 15px;
}

.big-bt {
    font-size: 15px;
    padding: 10px;
}

.blue:hover {
    background-color: #649efa;
}

/* regole main */
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* debug */
    background-color: white;
}

/* regole titolo hero */
.main-title-hero {
    margin-top: 150px;
    font-size: 80px;
    font-weight: 900;
}


/* regole hero */
.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #b4d0e6;
    width: 100%;
    /* debug */
    min-height: 400px;
}

.container-hero {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
}

.main-title-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    /* debug */
    
    
}

.des-hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    gap: 30px;
    margin-top: 40px;
    height: fit-content;
    /* debug */
    /* min-height: 300px;
    border: 2px dashed black;
    background-color: pink; */
} 

.arrow {
    margin-top: 30px;
    font-size: 50px;
}

.img-hero {
    width: 70%;
    margin-top: 40px;
    /* debug */
    /* min-height: 300px;
    border: 2px dashed black;
    background-color: pink; */
}

.img-hero img {
    width: 100%;
}
/* regole sezione piani business */

.business {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 55%;
    margin-top: 40px;
    background-color: transparent;
    /* debug */
    min-height: 700px;
}

/* regole titili business */
h2 {
    display: flex;
    width: 100%;
    font-size: 40px;
    /* debug */
    /* background-color: brown;
    height: 60px; */
}

h3 {
    font-size: 25px;
}

/* regole sezione fatturazione */
.invoicing {
    display: flex;
    width: 100%;
    margin-top: 50px;
    /* debug */
    /* background-color: blueviolet;
    border: 2px dashed black;
    height: 50px; */
}

.inv-type {
    margin-right: 40px;
}

.year {
    margin-left: 50px;
}
/* regole sezione tipo piano */
.plans {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    /* debug */
    /*   */
}

.type-plan {
    width: 30%;
    margin-top: 30px;
    font-size: 15px;
    padding-bottom: 30px;
    border: 1px solid gray;
    /* debug */
    /* background-color: red; */
    
}

.options-plan {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid gray;
}


/* regole sezione info generiche */
.generic-info {
    margin-top: 20px;
    padding: 0 30px;
}



.generic-info div{
    padding: 10px 0;
}

.duration {
    color: gray;
}

.price {
    font-weight: bold;
}

/* regole info specifiche */
.specific-info {
    margin-top: 20px;
    padding: 0 30px;
}

.specific-info div {
    padding: 10px 0;
}

.plans-bt {
    padding: 10px 40px;
    margin-top: 40px;
}

.buy {
    margin-top: 20px;
}

/* regole sezione punti salienti */

.plas-advantages{
    margin-top: 50px;
}

.highlights::before {
    content: "\2713";
    color: #0061fe;
    font-weight: bold;
}
/* regole sezione contati enterprise */
.spec-enterprise {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
    border: 1px solid gray;
    /* debug */
    /* height: 200px; */
    /* background-color: blueviolet; */
}

.enterprise-icon {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid gray;
}

/* regole sezione descrittiva */
.enterprise-des {
    padding: 30px 0 30px 30px;
    width: 70%;
    /* debug */
    /* background-color: red; */
}



.enterprise-des div {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 50px;
}

/* sezione bottone enterprise */
.enterprise-contacts {
    width: 30%;
    padding: 30px;
    /* debug */
    /* background-color: red; */
}

.enterprise-bt {
    padding: 10px 50px;
    
}

/* regole sezione foto e descrizione trova un partner */
.find-partner {
    display: flex;
    margin-top: 150px;
    width: 100%;
    /* debug */
    /* background-color: beige;
    height: 300px; */
}

/* regole sezione img partner */
.partner-img {
    width: 60%;
}

.partner-img img {
    width: 100%;
}

/* regole sezione des partner */
.partner-des {
    width: 40%;
    padding: 50px;
}

.partner-des p {
    margin-top: 20px;
}

.partner-bt {
    color: black;
    background-color: transparent;
    padding: 10px 15px;
    border: 1px solid black;
    margin-top: 20px;
}

.partner-bt:hover {
    background-color: #b3b3b3;
}

/* regole sezione operazioni dropbox */
.operations {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 55%;
    margin-top: 150px;
    /* debug */
    /* min-height: 200px;
    background-color: blueviolet; */
}

.options {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 30px;
    padding-bottom: 30px;
    /* debug */
    /* min-height: 200px;
    background-color: red; */
}

/* sezione operazioni img */
.options-img {
    width: 100%;
}

.options-img img {
    width: 100%;
}

/* sezione des operazioni */
.options-des {
    width: 100%;
}

.options-des p {
margin-top: 30px;
}

/* regole sezione persone */
.people {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 150px;
    width: 55%;
    /* debug */
    /* height: 150px;
    background-color: blue; */
}

.people h2 {
    width: 60%;
}

.people a {
    margin-top: 50px;
    width: 100%;
    font-size: 15px;
    /* debug */
    /* background-color: blueviolet;
    height: 50px; */
}

/* regole footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: black;
    /* debug */
    min-height: 300px;
}

/* regole top footer */
.top-footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    width: 65%;
    margin-bottom: 100px;
    /* debug */
    /* height: 80%;
    background-color: blue; */
}

/* regole infos */
.infos {
    width: 18%;
    /* debug */
    /* height: 100%;
    background-color: violet; */
} 

.infos h3 {
    color: white;
    margin-bottom: 20px;
}

.infos ul {
    list-style: none;
    color: white;
}

.infos li {
    margin-bottom: 10px;
}

/* regole bottom footer */

.bottom-footer {
    display: flex;
    align-items: center;
    width: 65%;
    color: white;
    border-top: 1px solid white;
    /* debug */
    height: 100px;
}

.bottom-footer i {
    margin-left: 5px;
    margin-right: 5px;
}