* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* regole header */
header {
    width: 100%;
    position: fixed;
    background-color: white;
    padding: 30px 0;
    /* debug */
    height: 80px;
}

/* regole header sinistra */

nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.navigation-header {
    display: flex;
    align-items: stretch;
    width: 50%;
    height: 100%;
    /* debug */
    /* height: 100px;
    background-color: blueviolet;
    border: 2px dashed black; */
}

/* hover header */

.navigation-header a:hover {
    border-bottom: 2px solid black;
}

/* regole header parte sinistra */


.left-side a {
    text-decoration: none;
    color: black;
    margin-left: 40px;
    height: 100%;
}

.left-side img {
    margin-left: 20px;
}

/* regole header parte destra */
.right-side {
    justify-content: flex-end;

}

.right-side a {
    text-decoration: none;
    color: black;
    margin-right: 40px;
}

.right-side .sign-in {
    margin-right: 20px;
}

/* regole bottoni */
.blue {
    background-color: #0061fe;
    color: white;
    border: none;
}

.sign-in {
    padding: 5px 15px;
}

.blue:hover {
    background-color: #649efa;
}

/* regole main */
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* debug */
    background-color: #f8f547;
}

/* regole vari titoli main */

/* regole titoli principali */
.main-title-hero {
    margin-top: 150px;
    font-size: 60px;
    font-weight: 900;
}

h2 {
    display: flex;
    width: 100%;
    padding: 30px 0;
    /* debug */
    background-color: brown;
    height: 60px;
}

/* regole hero */
.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #b4d0e6;
    width: 100%;
    /* debug */
    min-height: 400px;
}

.container-hero {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
}

.main-title-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    min-height: 200px;
    width: 100%;
}

.des-hero {
    background-color: pink;
    width: 20%;
    /* debug */
    min-height: 300px;
    border: 2px dashed black;
}

.img-hero {
    width: 50%;
    /* debug */
    min-height: 300px;
    border: 2px dashed black;
    background-color: pink;
}

/* regole sezione piani business */

.business {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 55%;
    margin-top: 40px;
    /* debug */
    min-height: 700px;
    background-color: aquamarine;
    border: 2px dashed black;
}

/* regole sezione fatturazione */
.invoicing {
    width: 100%;
    /* debug */
    background-color: blueviolet;
    border: 2px dashed black;
    height: 50px;
}

/* regole sezione tipo piano */
.plans {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    /* debug */
    height: 500px;
    background-color: blue;
}

.type-plan {
    width: 30%;
    margin-top: 30px;
    /* debug */
    background-color: red;
    
}

/* regole sezione contati enterprise */
.spec-enterprise {
    width: 100%;
    margin-top: 30px;
    /* debug */
    height: 200px;
    background-color: blueviolet;
}

/* regole sezione foto e descrizione trova un partner */
.find-partner {
    margin-top: 150px;
    width: 100%;
    /* debug */
    background-color: beige;
    height: 300px;
}

/* regole sezione operazioni dropbox */
.operations {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 55%;
    margin-top: 100px;
    /* debug */
    min-height: 200px;
    background-color: blueviolet;
}

.options {
    width: 30%;
    margin-top: 30px;
    /* debug */
    height: 200px;
    background-color: red;
}

/* regole sezione persone */
.people {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
    width: 55%;
    /* debug */
    height: 150px;
    background-color: blue;
}

.people a {
    width: 100%;
    /* debug */
    background-color: blueviolet;
    height: 50px;
}

/* regole footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: black;
    /* debug */
    height: 300px;
}

/* regole top footer */
.top-footer {
    display: flex;
    justify-content: space-around;
    width: 65%;
    /* debug */
    height: 80%;
    background-color: blue;
}

/* regole infos */
.infos {
    width: 18%;
    /* debug */
    height: 100%;
    background-color: aliceblue;
}

/* regole bottom footer */

.bottom-footer {
    display: flex;
    align-items: center;
    width: 65%;
    color: white;
    /* debug */
    height: 100px;
}